cryptobench
*.pem
build*
*~
*.autosave
*.a
*.d
*.core
*.moc
*.o
*.obj
*.orig
*.rej
*.so
*.so.*
*.dylib
*_pch.h.cpp
*_resource.rc
*.qm
.#*
*.*#
*.tmp
tmp
core
!core/
tags
.DS_Store
.directory
*.debug
*.prl
*.app
moc_*.cpp
ui_*.h
qrc_*.cpp
Thumbs.db
*.res
*.rc
/.qmake.cache
/.qmake.stash
*.pro.user*
CMakeLists.txt.user*
*.flc
.*.swp
*.ib_pdb_index
*.idb
*.ilk
*.pdb
*.suo
*vcproj.*.*.user
*.ncb
*.sdf
*.opensdf
*vcxproj.*
*.Debug
*.Release
*.pyc
*.dll
*.exe
